<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza Portal | Order Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="styles.css"/>
    <script type="text/javascript">
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div>
                        <img src="img/logo.jpg" alt="Logo" class="img-thumbnail img-responsive pull-left"
                             style="margin-right:15px;" height="50" width="71"/>
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/order">Order</a></li>
                            <li><a href="/checkout">Cart <span id="cartEntities">(0)</span></a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="order-form">
                <h1 class="text-center">Order the best pizza</h1>

                <form name="order_form" method="post" action="" role="form" id="orderForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="size">Size of pizza</label>

                        <div class="col-md-9">
                            <select name="size" id="size" class="form-control">
                                <option value="Small" selected="selected">Small</option>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="kind">Kind of pizza</label>

                        <div class="col-md-9">
                            <select name="kind" size="3" id="kind" class="form-control">
                                <option value="Pepperoni">Pepperoni</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Combo">Combo</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="extra_cheese">Extra Cheese</label>

                        <div class="col-md-9">
                            <input type="checkbox" class="form-control" name="extra_cheese" value="yes"
                                   id="extra_cheese" style="-webkit-box-shadow: none;"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="quantity">Quantity</label>

                        <div class="col-md-9">
                            <input type="text" name="quantity" class="form-control" value="1" id="quantity"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" id="btn_add_to_cart" class="btn btn-default">Add to Cart</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" id="btn_go_to_cart" class="btn btn-default">Go to Cart</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" id="calculate" class="btn btn-default">Calculate</button>
                                <span>Total: $<label id="price">0</label></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col-md-4">
            <div id="pasta">
                <div>
                    <span>Pasta</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus, metus et vulputate
                        bibendum, nisi velit luctus purus, a mattis metus dui eu risus.</p>
                    <a href="/" class="more">More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="pizza">
                <div>
                    <span>Pizza</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus, metus et vulputate
                        bibendum, nisi velit luctus purus, a mattis metus dui eu risus.</p>
                    <a href="/" class="more">More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="callus">
                <div>
                    <span>Call us now!</span>
                    <b>134-475-5967</b>

                    <p><strong>Contact us at:</strong><br><i>thechef@liberteri.com</i></p>

                    <p><strong>Snailmail:</strong><span>#145 Old building,<br>abc Street<br>city 8888</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="scripts.js"></script>
<script>
    $(document).ready(function() {
        $("#btn_go_to_cart").click(btnGoToCart);
        $("#calculate").click(btnCalculateHandler);
        $("#btn_add_to_cart").click(btnAddToCartHandler);
        getNumberOfOrderedPizzas();
    });
</script>
</body>
</html>